*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display:block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1px;
}


body{
	font-family: Arial, Helvetica, sans-serif;
}

.row{
	padding: 15px;
}
.colum-item-parent{
	float: left;
	padding: 10px;
	position: relative;
	background-color: #f3f3f3;
	margin-top: 10px;
}

.column-item{
	position: relative;
	margin: 5px;
	padding: 10px;
	display: inline;
	border: 2px black solid;
}
.dish-type{
	position: absolute;
	right: 0;
	top: 0;
	margin-bottom: 5px;
	border: 2px solid black;
	padding: 2px 4px;
	width: 100px;
	text-align: center;
}

.beef{
	background-color: red;
}

.chicken{
	background-color: green;
}

.sushi{
	background-color: yellow;
}
.main-title{
    margin: 7% auto 5% auto;
    color: gray;
    text-align: center;
}
.item-description{
	margin-top: 20px;
	
}
/* [class*="col-"] {
    width: 100%;
} */

@media (min-width: 992px)  {

.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 32%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

.colum-item-parent:nth-of-type(2){
	margin: 10px 2% 0;
}

	
}


@media (min-width: 768px) and ( max-width: 991px)  {

.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 32%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 48%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

.colum-item-parent:nth-of-type(2){
  float: right;
}	

	
}



@media ( max-width: 767px)  {

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

	
}